:root {
  --grayscale-color: #fafafa;
  --backround-color: #c0c0c09d;
  --current-player: #c0c0c0e2;
  --gray-blue-color: #2b323f;
  --border-glowing: #d4d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epunda Slab', serif;
  background-color: var(--gray-blue-color);
  color: var(--grayscale-color);
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  color: var(--gray-blue-color);
  font-size: 2rem;
}

h5 {
  margin-bottom: 10px;
}

/* btn styles */
.btn {
  position: absolute;
  width: 7rem;
  border-radius: 14px;
  padding: 10px;
  border: none;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: var(--gray-blue-color);
  color: var(--grayscale-color);
  border-radius: 20px;
}
.btn:active {
  transform: translateY(2px);
}
.reset {
  top: 30%;
}
.roll {
  bottom: 36%;
}

.bank {
  bottom: 28%;
}

/* players box style */
.player--0-box {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.player--1-box {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.player--active {
  background-color: var(--current-player);
  border: 2px solid var(--border-glowing);
  box-shadow: 0 0 10px var(--border-glowing);
}

.box {
  background-color: var(--current-player);
  padding: 120px;
}

.summary-score {
  text-align: center;
  font-size: 4rem;
  color: var(--grayscale-color);
}

/* current score container */
.current-score-container {
  margin-top: 46px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: var(--gray-blue-color);
}

.current-score {
  font-size: 1.8rem;
}

/* dice */
.dice {
  position: absolute;
  top: 40%;
  width: 90px;
  border: 3px solid black;
  box-shadow: 0 0 20px 2px #2b323f;
}

/* hidden */
.hidden {
  display: none;
}
