:root {
  --grayscale-color: #fafafa;
  --backroungd-color: #c0c0c09d;

  --gray-blue-color: #2b323f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epunda Slab', serif;
  background-color: var(--gray-blue-color);
  color: var(--grayscale-color);
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h2 {
  color: var(--gray-blue-color);
  font-size: 2rem;
}

h5 {
  margin-bottom: 10px;
}

/* btn styles */
.btn {
  position: absolute;
  width: 7rem;
  border-radius: 14px;
  padding: 10px;
  border: none;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: var(--gray-blue-color);
  color: var(--grayscale-color);
  border-radius: 20px;
}

.reset {
  top: 30%;
}
.roll {
  bottom: 36%;
}
.bank {
  bottom: 30%;
}

/* players box style */
.first-player-box {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.second-player-box {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.box {
  padding: 120px;
  background-color: var(--backroungd-color);
}

.summary-score {
  text-align: center;
  font-size: 4rem;
  color: var(--grayscale-color);
}

/* current score container */
.current-score-container {
  margin-top: 46px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: var(--gray-blue-color);
}

.current-score {
  font-size: 1.8rem;
}

/* dice */
.dice {
  position: absolute;
  width: 80px;
  border: 3px solid black;
}
